on:
  push:
    branches:
      - develop

name: "Check spell c++"

jobs:
  spellcheck:
    name: linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cpp-linter/cpp-linter-action@v2
        id: linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: 'file'
          tidy-checks: ''
      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed > 0
        run: exit 1